/* CSS file: style.css */

/* Styling the body */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* Styling the container */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #CCFF00; /* Neon yellow border */
    border-radius: 10px;
    box-shadow: 0 0 20px #CCFF00;
}

/* Styling the title */
.title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #CCFF00; /* Neon yellow */
    text-align: center;
}

/* Styling the main tabs */
.main-tabs {
    margin-bottom: 20px;
    text-align: center;
}

.main-tab {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    color: #1F51FF; /* Neon blue */
    background-color: #F8F8FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-tab.active {
    background-color: #1F51FF; /* Neon blue */
    color: white;
}

/* Styling the sub-tabs */
.tabs {
    margin-bottom: 20px;
  text-align: center; /* Centering the sub-tabs */
  
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    color: #1F51FF; /* Neon blue */
    background-color: #F8F8FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #1F51FF; /* Neon blue */
    color: white;
}

/* Styling the content sections */
.content {
    display: none;
}

#maths .content, #physics .content {
    display: block;
    margin: 0 0 10px 0;
    text-align: left;
}
    /* Styling the links */
.link {
    color: #FF00FF; /* Neon pink */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.link:hover {
    color: white; /* White */
}

/* Styling for the bulleted list */
ul {
    list-style-type: disc; /* Bulleted list */
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Styling the download links */
.download-link {
    margin-left: 10px;
    color: #FF00FF; /* Neon pink */
    text-decoration: none;
}

.download-link:hover {
    color: white;
}

/* CSS styles for recommended books */
#maths_recommended-books {
    display: none; /* Hide the tab content by default */
}
#physics_recommended-books {
    display: none; /* Hide the tab content by default */
}

#maths_recommended-books table {
    width: 100%;
    border-collapse: collapse;
}
#physics_recommended-books table {
    width: 100%;
    border-collapse: collapse;
}

#maths_recommended-books table td {
    padding: 10px;
    border: 1px solid #ccc;
} 
#physics_recommended-books table td {
    padding: 10px;
    border: 1px solid #ccc;
}

#maths_recommended-books table img {
    max-width: 100px;
    height: auto;
}
#physics_recommended-books table img {
    max-width: 100px;
    height: auto;
}
.book-title {
    color: #c1f5fe; /* Light blue color */
}
.normal-text {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor on hover */
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    color: 	#121313; /* Neon black */
    background-color: #39ff14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.buy-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px; /* Adjust as needed */
    position: relative; /* Set position to relative */
    z-index: 1; /* Set a higher z-index to bring it forward */
}


/* CSS styles for the footer */
.footer {
    background-color: black; /* Black background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for spacing */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Margin to separate the footer from content */
    width: 100%; /* Full width */
    bottom: 0; /* Position at the bottom */
    box-shadow: 0 0 10px neon-red, 0 0 20px neon-red; /* Neon glow */
}

/* Style the red love icon */
.neon-red {
    color: #FF0000; /* Red color */
    /* Neon glow effect */
    text-shadow: 0 0 10px #FF0000, 0 0 20px #FF0000, 
                 0 0 30px #FF0000, 0 0 40px #FF0000, 
                 0 0 50px #FF0000, 0 0 75px #FF0000, 
                 0 0 100px #FF0000;
}
